PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=church_website

JWT_SECRET=my-super-secret-key

ROOT_NAME=root
ROOT_EMAIL=root@church.com
ROOT_PASSWORD=rootadmin